@page
@model NationalDrivingLicense.Pages.DriverLicenses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DriverLicence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DriverLicence.Id" />
            <div class="form-group">
                <label class="control-label">@Model.DriverLicence.UserName</label>
                <input type="hidden" value="@Model.DriverLicence.UserName"/>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.DriverLicence.FirstName @Model.DriverLicence.Name</label>
                <input type="hidden" value="@Model.DriverLicence.Name" />
                <input type="hidden" value="@Model.DriverLicence.FirstName" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DriverLicence.Valid" /> @Html.DisplayNameFor(model => model.DriverLicence.Valid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
